<main class="wrapper main-content" role="main">
    <!-- /templates/blog.liquid -->
    <div class="blog-main">
        <div class="moju-paper"></div>
        <div class="paper-info">
        </div>
        <div class="tiles">
            <a ng-click="blog1()"><span>Welcome to the MOJU Paper</span>
          
              <img src="//cdn.shopify.com/s/files/1/0966/4210/articles/Untitled_2_ebbb1298-30bd-493b-b110-b0649c97115d_large.png?v=1449567321">
          
            </a>
            <a ng-click="blog2()"><span>MOJU People</span>
          
              <img src="//cdn.shopify.com/s/files/1/0966/4210/articles/Louis_Plank_large.png?v=1449517486">
          
            </a>
            <a ng-click="blog3()"><span>Give Kale a chance</span>
          
              <img src="//cdn.shopify.com/s/files/1/0966/4210/articles/KALE_2720x1410_large.jpg?v=1448977729">
          
            </a>
            <a href="">
                <img src="//cdn.shopify.com/s/files/1/0966/4210/t/2/assets/placeholder.jpg?8748989452175200013">
            </a>
        </div>
    </div>
</main>
